<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>There is a new reservation from <%= @reservation.email %> for <%= @reservation.date %> at <%= @reservation.time %>.</p>
  </body>
</html>